@import '~styles/reset.scss';

html {
  max-height: 200px;
}

.app {
  width: 400px;
  opacity: 0.3;

  .ant-layout-content {
    margin-bottom: 1rem;
  }

  .ant-collapse-header {
    background: #ece9e9;
  }

  .divider {
    margin: 0;
    &::before,
    &::after {
      border-top: 1px solid #80808080;
    }
  }

  .header,
  .footer {
    padding: 0.5rem;
    text-align: center;
    background-color: #795548;
    * {
      color: #e6f7ff;
    }
  }

  .text-center {
    text-align: center;
  }

  .ant-col {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
