@import '~styles/reset.scss';

.app {
  width: 360px;
  .divider {
    &::before, &::after {
      border-top: 1px solid #80808080;
    }
  }

  .header,
  .footer {
    padding: 0.5rem;
    text-align: center;
    background-color: #795548;
    * {
      color: #e6f7ff;
    }
  }

  .ant-col {
    padding-top: 0.2rem;
    padding-right: 1rem;
    padding-bottom: 0.2rem;
    padding-left: 1rem;
  }
}
